
// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600,700);

// Variables
@import "variables";

//Icons
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// body {
// 	padding-top: 70px;
// }

//All images 100% mx width
img {
	max-width: 100%;	
}

//Padding on all pages class
.pages {
	padding-top: 84px;
}

//Panel heading text color inherited
.panel-default > .panel-heading {
	color: inherit;
}

//Navbar
.navbar-nav {
    > li > a {    	
      &:hover,
      &:focus {
        border-bottom: $navbar-inverse-link-border-bottom-color-hover;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        border-bottom: $navbar-inverse-link-border-bottom-color-active;
      }
    }
  }